@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


html{
    box-sizing: border-box;
}

body{
    
}

ul.horizontal{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

a{

}