.nav-header {
  margin: 0 auto;
  width: 65%;
  display: flex;
  justify-content: center;

  .categories {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0 2.1rem 0rem;

    li {
      text-align: center;
      list-style: none;

      a {
        line-height: 2.25rem;
        font-size: 1.5rem;
        text-decoration: none;
        color: $main-color;
      }
      
      .catalog::before {
        content: "";
        display: block;
        background-image: url("../icons/menu.svg");
        background-repeat: no-repeat;
        background-size: cover; 
        width: 1.5rem;
        height: 1.5rem;
        float: left;
        margin: 0.4rem 0.06rem 0.5rem 0;
      }
    }
  }
}
