* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}
html {
  font-size: 62.5%;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
a,
h4,
p,
h5,
h6 {
  font-size: 1.2rem;
  padding-left: 3px;
}


